.profile__avatar-wrap {
    position: relative;
    width: 120px;
    height: 120px;
  }

  .profile__avatar-wrap:hover .profile__avatar-wrap-button {
    visibility: visible;
    cursor: pointer;
  }
  
  .profile__avatar-wrap:hover .profile__avatar {
    opacity: .2;
  }