.popup__form-input {
  position: relative;
  margin: 0 0 5px 0;
  padding: 0 0 13px 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

@media screen and (max-width: 580px) {
  .popup__form-input {
    max-width: 238px;
  }
}
